/* Empty. Add your own CSS if you like */
.angular-google-map-container { 
  height: 100%; 
}

map {
  width: 100%;
  height: 100% !important;
}

.scroll, .mapWrap {
  height: 100%;
}

.descr img,h2,h3,p {
    padding-left: .5em;
    padding-right: .5em;
}
